<%- include ../partials/header -%>

<h1><%= book.title %></h1>
<h3>by <%= book.author %></h3>

<% var progressBar = Math.round((book.pagesProgress/book.totalPages)*100) %>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= progressBar %>%;" aria-valuenow="<%= progressBar %>" aria-valuemin="0" aria-valuemax="100"><%= progressBar %>%</div>
</div>

<p><span contenteditable="true"><%= book.pagesProgress %></span> out of <%= book.totalPages %> pages read so far</p>

<button class="btn btn-success">Update</button> //not functional

<%- include ../partials/footer -%>